* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: turquoise;
  text-align: center;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

#label-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 0.5rem;
  width: 70%;
  flex-wrap: wrap;
  margin-inline: auto;
}

#label-container div {
  width: 8rem;
}

#label-container div.probable {
  background-color: #f00c;
}

canvas {
  position: absolute;
}

video {
  height: 400px;
  /* height: 100%;
  position: absolute;
  top: 0; */
}

.hidden {
  display: none;
}